name: Test install-provisioning-profile

on:
  workflow_dispatch: {}
  pull_request:
    branches: [main]
    paths:
      - install-provisioning-profile/**

jobs:
  test:
    name: Test install-provisioning-profile
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Setup Node.js
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Test
        run: npm test
